{% extends "layout.twig" %}


{% block media %}
    <link href="/apps/templates/business/css/admin.css" rel="stylesheet">
{% endblock %}



{% block content %}
    <p>
        {{ hello }}
    </p>

    <h3>Liste modules Front</h3>
    <div class="row">
        {% for item in app.modules_front %}
            <div class="process-step col-xs-6 col-sm-3 col-md-2">
                <a href="/admin/{{ item.lien }}"> <span class="btn btn-default btn-circle front"><i class="{{ item.icon }} fa-4x"></i></span></a>
                <p> {{ item.name | title}}</p>
            </div>
        {% endfor %}
    </div>
    <h3>Liste modules Back</h3>
    <div class="row">
        {% for item in app.modules_back %}
            <div class="process-step col-xs-6 col-sm-3 col-md-2">
                <a href="/admin/{{ item.lien }}"> <span class="btn btn-default btn-circle back"><i class="{{ item.icon }} fa-4x"></i></span></a>
                <p> {{ item.name | title}}</p>
            </div>
        {% endfor %}
    </div>
    <h3>Liste modules Admin</h3>
    <div class="row">
        {% for item in app.modules_admin %}
            <div class="process-step col-xs-6 col-sm-3 col-md-2">
                <a href="/admin/{{ item.lien }}"> <span class="btn btn-default btn-circle admin"><i class="{{ item.icon }} fa-4x"></i></span></a>
                <p> {{ item.name | title}}</p>
            </div>
        {% endfor %}
    </div>

    <br>
    <a href="{{ path('admin_logout') }}"><i class="fa fa-power-off"></i> Logout </a>
    <br>
    <br>

{% endblock %}
