{% extends "layout.twig" %}


{% block css %}
    <link href="/apps/templates/business/css/admin.css" rel="stylesheet">
{% endblock %}



{% block content %}
    
    <div class="row">
        {% for item in app.modules_front %}
            <div class="process-step col-xs-6 col-sm-3 col-md-2">
                <a href="/admin/{{ item.lien }}"> <span class="btn btn-default btn-circle front"><i class="{{ item.icon }} fa-4x"></i></span></a>
                <p> {{ item.name | title}}</p>
            </div>
        {% endfor %}
    </div>
    
    <div class="row">
        {% for item in app.modules_back %}
            <div class="process-step col-xs-6 col-sm-3 col-md-2">
                <a href="/admin/{{ item.lien }}"> <span class="btn btn-default btn-circle back"><i class="{{ item.icon }} fa-4x"></i></span></a>
                <p> {{ item.name | title}}</p>
            </div>
        {% endfor %}
    </div>
    
    <div class="row">
        {% for item in app.modules_admin %}
            <div class="process-step col-xs-6 col-sm-3 col-md-2">
                <a href="/admin/{{ item.lien }}"> <span class="btn btn-default btn-circle admin"><i class="{{ item.icon }} fa-4x"></i></span></a>
                <p> {{ item.name | title}}</p>
            </div>
        {% endfor %}
    </div>

    <br>

{% endblock %}

{% block js %}
{% endblock %}