<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>MySitek</title>
        <link rel="icon" type="image/png" href="/data/img/favicon.png" />

        <!-- Open Graph Protocol -->
        <meta content='fr_FR' property='og:locale'>
        <meta content='website' property='og:type'>
        <meta content="" property='og:title'>
        <meta content='' property='og:url'>
        <meta content="" property='og:description'>
        <meta property="og:image" content="" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="200" />
        <meta property="og:image:height" content="200" />

        <!-- Bootstrap Core CSS -->
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- Fonts -->  
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- CSS  -->
        <link href="/apps/templates/business/css/business.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/lib/NotificationStyles/css/notif.css" />

        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Contenu à mettre dans head à partir du twig qui utilise le template (ex: css)  -->
        <style>
            body {
                background-image: url('/data/{{ app.background }}');
                background-repeat: no-repeat;                 
                background-position: center center;
                background-attachment: fixed;
                  background-color: #000;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  background-size: cover;
                  -o-background-size: cover;
              }

        </style>
        {% block css %}
        {% endblock %}

    </head>

    <body>

        <div class="brand row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            {% if app.logo == "" %} 
                <span id="name">{{ app.siteName }}</span>                
                <img style="display: none;" id="logo" src="/data/img/{{ app.logo }}"  width="400"  alt="logo" class="logo"/>
            {% else %}                
                <span style="display: none;" id="name">{{ app.siteName }}</span>
                <img id="logo" src="/data/img/{{ app.logo }}"  alt="logo" class="logo img-responsive"/>
            {% endif %}
            </div>
        </div>
        
        <div class="address-bar">{{ app.title }}</div>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">MySitek</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">

                    {% block menu %}
                        <ul class="nav navbar-nav">
                            {% for item in app.modules_front %}
                                <li {% if app.selected == item.lien %}class="active"{% endif %}><a href="/{{ item.lien }}"><i class="{{ item.icon }}"></i> {{ item.name | title}}</a></li>
                                {% endfor %} 
                        </ul>
                    {% endblock %}
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <div class="container">

            <div class="row">
                <div class="box">
                    <div class="col-lg-12">

                        <div class="modal fade" id="modal">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div id="modal-body" class="modal-body">
                                        {% if modal is defined %}

                                            {{ modal | raw }}

                                        {% endif %}
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>
                                </div>
                            </div>
                        </div>                                 

                        <!-- Affichage du contenu du module  -->
                        {% block content %}
                        {% endblock %}
                        
                    </div>
                </div>
            </div>


        </div>
        <!-- /.container -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-5 col-md-offset-3 text-center">
                        <p><a href="/admin/">Admin</a>                            
                            {% if app.security.token.user  is defined %}
                                | <a href="{{ path('admin_logout') }}"> Déconnexion</a>
                            {% endif %}
                            Copyright &copy; MySitek 2014</p>
                    </div>
                    {% if app.reseaux is defined %}    
                        <div class="col-xs-6 col-md-4 text-center">
                        {% for key, reseau in app.reseaux %}
                            <div class="col-xs-1 col-md-1 text-center reseaux">
                                <a href="{{ reseau }}" rel="nofollow" target="_blank">
                                    <span class="round-tabs" id="round-{{ key }}"><i class="fa fa-{{ key }}"></i></span>
                                </a>                                
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </footer>

        <!-- Core JavaScript Files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        
         <!-- FormValidator -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
        <script src="/lib/FormValidator/jquery.form-validator.js"></script> <!--parametrage-->

        <!-- Custom Theme JavaScript -->
        <script src="/apps/templates/default/js/template.js"></script>

        <script src="/lib/NotificationStyles/js/modernizr.custom.js"></script>
        <script src="/lib/NotificationStyles/js/classie.js"></script>
        <script src="/lib/NotificationStyles/js/notificationFx.js"></script>

        <script>

            function Modal(value) {
                document.getElementById('modal-body').innerHTML = value + '<button type="button" class="close" data-dismiss="modal">×</button>';
                $('#modal').modal('show');
            }

            {% if modal is defined %}

                $(window).load(function() {
                    $('#modal').modal('show');
                });

            {% endif %}
            {% if notif is defined %}

                Notif('<p>{{ notif | raw }}</p>',{% if time is defined %}{{ time }}{% else %} 4500{% endif %});

            {% endif %}
                
            
            $(function() {
                $('span').tooltip({delay: 400});
            });

        </script>

        <!-- js à rajouter au template   -->
        {% block js %}
        {% endblock %}

    </body>
</html>
