{% extends "layout.twig" %}


{% block css %}
    <link href="/apps/modules/admin/maj/templates/css/module.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Etes vous sûr de vouloir supprimer le module ? <br>
                    Toutes vos données seront conservées. <br>
                    Le module pourra être reinstallé gratuitement à partir du store.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a href="#" class="btn btn-danger danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

    <!--TODO #API : A faire quand tous les modules seront disponibles sur le serveur 
        (car sinon l'update delete le module mais ne peut pas le reinstaller...     -->
    <a href="#" class="btn btn-primary pull-right"><i class="fa fa-download"></i> Tout mettre à jour</a>
    <br>
    <table id="table-1" class="table table-striped sorted_table custab ">

        <thead>
            <tr>
                <th width="15%">Rang</th>
                <th width="20%">Nom</th>
                <th width="20%" class="hidden-xs">Version installée</th>
                <th width="20%">Version disponible</th>
                <th width="15%" class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            <!--TODO #API : récuperer version disponible et liste des modules à mettre à jour-->
            {% for item in app.modules_front %}
                <tr id="{{ item.lien }}">
                    <td class="dragHandle"><i class="fa fa-bars"></i></td>
                    <td><i class="{{ item.icon }}"></i> {{ item.name | title}}</td>
                    <td  class="hidden-xs">{{ item.version }}</td>
                    <td>{{ item.version }}</td>
                    <td class="text-center">
                        <a data-href="/admin/delete/modules/{{ item.lien }}" data-toggle="modal" data-target="#confirm-delete" href="#">
                            <span class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i> </span>                          
                        </a>
                        <!--TODO #API : recuperer liste mmodules à mettre à jour -->
                        <span id="wait{{ item.lien }}" class="btn btn-warning btn-xs" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>      
                        <span id="ajour{{ item.lien }}" class="btn btn-success btn-xs" style="display: none;" data-toggle="tooltip" title="Module à jour"><i class="glyphicon glyphicon-ok"></i></span>            
                        <span id="maj{{ item.lien }}" class="btn btn-info btn-xs" data-toggle="tooltip" title="Mettre à jour"><i class="glyphicon glyphicon-cloud-download"></i></span>           
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table id="table-2" class="table table-striped sorted_table custab">

        <thead>
            <tr>
                <th width="15%">Rang</th>
                <th width="20%">Nom</th>
                <th width="20%" class="hidden-xs">Version installée</th>
                <th width="20%">Version disponible</th>
                <th width="15%" class="text-center"></th>
            </tr>
        </thead>
        <tbody>

            {% for item in app.modules_back %}
                <tr id="{{ item.lien }}">
                    <td class="dragHandle"><i class="fa fa-bars"></i></td>
                    <td><i class="{{ item.icon }}"></i> {{ item.name | title}}</td>
                    <td class="hidden-xs">{{ item.version }}</td>
                    <td>{{ item.version }}</td>
                    <td class="text-center">
                        <a data-href="/admin/delete/modules/{{ item.lien }}" data-toggle="modal" data-target="#confirm-delete" href="#">
                            <span class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i> </span>                          
                        </a>
                        <!--TODO #API : recuperer liste mmodules à mettre à jour -->
                        <span id="wait{{ item.lien }}" class="btn btn-warning btn-xs" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>      
                        <span id="ajour{{ item.lien }}" class="btn btn-success btn-xs" style="display: none;" data-toggle="tooltip" title="Module à jour"><i class="glyphicon glyphicon-ok"></i></span>            
                        <span id="maj{{ item.lien }}" class="btn btn-info btn-xs" data-toggle="tooltip" title="Mettre à jour"><i class="glyphicon glyphicon-cloud-download"></i></span>           
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table id="table-4" class="table table-striped sorted_table custab">

        <thead>
            <tr>
                <th width="15%">Rang</th>
                <th width="20%">Nom</th>
                <th width="20%" class="hidden-xs">Version installée</th>
                <th width="20%">Version disponible</th>
                <th width="15%" class="text-center"></th>
            </tr>
        </thead>
        <tbody>

            {% for item in app.modules_param_plus %}
                <tr id="{{ item.lien }}">
                    <td class="dragHandle"><i class="fa fa-bars"></i></td>
                    <td><i class="{{ item.icon }}"></i> {{ item.name | title}}</td>
                    <td class="hidden-xs">{{ item.version }}</td>
                    <td>{{ item.version }}</td>
                    <td class="text-center">
                        <a data-href="/admin/delete/modules/{{ item.lien }}" data-toggle="modal" data-target="#confirm-delete" href="#">
                            <span class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i> </span>                          
                        </a>
                        <!--TODO #API : recuperer liste mmodules à mettre à jour -->
                        <span id="wait{{ item.lien }}" class="btn btn-warning btn-xs" style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>      
                        <span id="ajour{{ item.lien }}" class="btn btn-success btn-xs" style="display: none;" data-toggle="tooltip" title="Module à jour"><i class="glyphicon glyphicon-ok"></i></span>            
                        <span id="maj{{ item.lien }}" class="btn btn-info btn-xs" data-toggle="tooltip" title="Mettre à jour"><i class="glyphicon glyphicon-cloud-download"></i></span>           
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}

    <script src="/apps/modules/admin/maj/lib/jquery.tablednd.js"></script>
    <script type="text/javascript">

        $(function() {
            $('span').tooltip({delay: 400});
        });

        // TODO #API : Boucler sur liste modules à mettre à jour

        {% for item in app.modules %}

            $("#maj{{ item.lien }}").click(function() {

                $.ajax({
                    type: "POST",
                    url: '/admin/update',
                    data: {type: "modules", file: "{{ item.lien }}"},
                    beforeSend: function() {
                        $('#wait{{ item.lien }}').show();
                        $('#maj{{ item.lien }}').hide();
                    },
                    success: function() {
                        $('#wait{{ item.lien }}').hide();
                        $('#ajour{{ item.lien }}').show();
                    },
                    error: function(request, error) { // Info Debuggage si erreur         
                        alert("Erreur :" + request.responseText);
                    }

                })
                        .done(function(msg) {
                            if (msg === '') {
                                Notif('<p>{{ item.lien }} est maintenant à jour</p>', 5000);

                            }
                            else {
                                Notif('<p>Erreur lors de la maj</p>', 5000);

                            }
                        });
                return false;

            });

        {% endfor %}


            $('#confirm-delete').on('show.bs.modal', function(e) {
                $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
            });

            $(document).ready(function() {

                $('#table-1').tableDnD({
                    onDrop: function() {
                        $.post(
                                '/admin/maj/rang',
                                {table: decodeURI($.tableDnD.serialize()), type: 'front'},
                        function(data) {


                        }
                        );
                    },
                    dragHandle: ".dragHandle",
                });
                $('#table-2').tableDnD({
                    onDrop: function() {
                        $.post(
                                '/admin/maj/rang',
                                {table: decodeURI($.tableDnD.serialize()), type: 'back'},
                        function(data) {

                        }
                        );
                    },
                    dragHandle: ".dragHandle",
                });
                $('#table-4').tableDnD({
                    onDrop: function() {
                        $.post(
                                '/admin/maj/rang',
                                {table: decodeURI($.tableDnD.serialize()), type: 'param'},
                        function(data) {


                        }
                        );
                    },
                    dragHandle: ".dragHandle",
                });

            });
            $("#table-1 tr").hover(function() {
                $(this.cells[0]).addClass('showDragHandle');
            }, function() {
                $(this.cells[0]).removeClass('showDragHandle');
            });

            $("#table-2 tr").hover(function() {
                $(this.cells[0]).addClass('showDragHandle');
            }, function() {
                $(this.cells[0]).removeClass('showDragHandle');
            });

            $("#table-4 tr").hover(function() {
                $(this.cells[0]).addClass('showDragHandle');
            }, function() {
                $(this.cells[0]).removeClass('showDragHandle');
            });
    </script>

{% endblock %}